---
title: About
layout: default
---
{% include header.html %}
<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>ABOUT</h2>
</div>


<main class="tags-content" style="margin-top: 0px">
    <ul class="tags-list" style="list-style-type: none;padding: 40px;">
		<h1>hi</h1>
	<br/>
		<p>major in software engineering</p>
	<br/>
		<p>explore</p>
	<br/>
		<p>enjoy</p>
	<br/>
	<br/>
		
    </ul>
	
</main>
    
{% include footer.html %}